# Jv420 resources ensure list
# Voeg dit onderaan je server.cfg toe.

ensure jv-loading
ensure jv-discordlogs
ensure jv-notify
ensure jv-adminhelp
ensure jv-hud
ensure jv-bank
ensure jv-starterjobs
ensure jv-weaponshop
ensure jv-garage
